.lobby {
	margin: 0 auto;
	padding: 5px 30px;
	text-align: center;

	.creator,
	.entrance {
		margin: 60px 0;
	}

	button,
	input {
		display: block;
		width: 200px;
		margin: 20px auto;
		font-size: 18px;
	}
}
